html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background-color: lightblue !important;
  font-family: "Roboto", sans-serif;
  overflow-y: scroll;
}

#screen {
  height: 667px;
  width: 375px;
  background-color: white;
  margin: auto;
  margin-top: 5%;
  border: 3px solid black;
}

/***********************************************************************/
/*The following code is adapted from https://gist.github.com/brickbones/0b447985b10f143a160bcf2e1d69726a */

.mytabs {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  padding: 25px 5px;
}
.mytabs input[type="radio"] {
  display: none;
}

.mytabs #label1 {
  margin-left: 65px;
  border: 1px solid orange;
  border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.mytabs label {
  padding: 10px 30px;
  background-color: white;
  font-weight: bold;
  border: 1px solid orange;
}
.mytabs #label2 {
    border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  }
.mytabs .tab {
  width: 100%;
  padding: 10px 0;
  /*background: pink;*/
  order: 1;
  display: none;
}
.mytabs .tab h2 {
  font-size: 3em;
}
.mytabs input[type="radio"]:checked + label + .tab {
  display: block;
}
.mytabs input[type="radio"]:checked + label {
  background: orange;
}
.scroll {
  height: 462px;
  overflow: hidden auto;
}

/*The adapted code ends here
/***********************************************************************/
#location {
  color: orange;
}

#change {
  color: orange;
  margin-left: 10px;
  font-size: 12px;
}

#selection {
  border-bottom: solid 4px orange;
}
.row {
  display: flex;
  justify-content: space-around;
  margin: 5px auto;
}

.column {
  padding: 5px 10px 5px;
}

.column img {
  width: 50px;
  height: 50px;
}

#caption {
  font-size: 10px;
  /*flex:center;*/
  text-align: left;
  white-space: nowrap;
}

.post {
  border: 1px solid grey;
  box-shadow: 1px 3px 5px #888888;
  padding-top: 10px;
  border-radius: 5px;
  margin: 10px 5px;
}

.post .img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /*float:left;*/
}

.name h4 {
  /*float:center;*/
  margin-left: 15px;
  /*background-color: brown;*/
  display: inline-block;
  font-size: 12px;
  /*margin-top: -50px;*/
}

button {
  cursor: pointer;
  box-shadow: 0 3px #999;
  font-size: 10px;
}

.head {
  padding: 0 10px;
  display: flex;
}

.head .button {
  background-color: orange;
  border: none;
  color: black;
  text-align: center;
  display: inline-block;
  font-size: 10px;
  border-radius: 5px;
  float: right;
  height: 25px;
  min-width: 80px;
  margin: 6px 5px 0 30px;
  box-shadow: 1px 3px 5px #888888;
}

.content img {
  width: 300px;
  height: 175px;
  border: black solid 2px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.content p {
  padding-left: 5px;
}

#heart {
  color: red;
  padding: 5px;
  font-size: 20px;
}

#comment {
  /*border: black solid 2px;*/
  font-size: 20px;
}

#time {
  float: right;
  margin-right: 5px;
}

.line {
  /*width: 369px;*/
  margin: 10px -20px 0;
  border-top: 2px solid grey;
  /*box-shadow: 3px 3px #888888;*/
  /*position: absolute;*/
}

a:link {
  color: black;
}

/***********************************************************************/
/*Potentially useful classes*/

.container {
  width: 375px;
  min-height: 50px;
  margin: 0px auto;
  /*padding-left: 15px;*/
  /*padding-right: 15px;*/
}

.space-evenly {
  display: flex;
  justify-content: space-between;
}

.center {
  display: flex;
  justify-content: center;
}

/* Meal Swipe */
.meal-swipe .post {
  height: 168px;
  width: 320px;
  padding-top: 0;
}

.meal-swipe img {
  height: 125px;
  width: 100%;
  border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.meal-swipe .mealswipe-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  background-color: white;
}
.meal-swipe .meal-swipe-location {
  font-size: 13px;
}

.meal-swipe .meal-swipe-time {
  font-size: 10px;
}
.meal-swipe-available {
  display: flex;
  align-items: center;
  justify-content: center;
}
.meal-swipe .available {
  font-size: 6px;
  display: flex;
  align-items: center;
}
.available span{
  font-size: 0px;
    border: 2px solid #0FC236;
    border-radius: 50%;
    line-height: 1px;
    margin: 2px 5px;
}
.meal-swipe button {
  font-size: 10px;
  border-radius: 8px;
  box-shadow: none;
  height: 21px;
}
.meal-swipe .share-swipe {
  color: white;
  background-color: #355BE0;
  border: none;
  margin-right: 10px;
}
.meal-swipe .get-swipe {
  color: black;
  background-color: white;
  border: 1px solid #355BE0;
}
.carousel-wrapper.meal-swipe .post {
  height: 150px;
  width: 200px;
  position: relative;
}
.carousel-wrapper.meal-swipe .mealswipe-info {
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.carousel-wrapper.meal-swipe .meal-swipe-available {
  flex-direction: column;
  align-items: flex-start;
}
.carousel-wrapper.meal-swipe .meal-swipe-time i {
  font-size: 14px;
  margin-right: 5px;
}
.carousel-wrapper.meal-swipe .available img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.carousel-wrapper.meal-swipe .available .img1 {
  margin-right: -7px;
  z-index: 3;
}
.carousel-wrapper.meal-swipe .available .img2 {
  margin-right: -7px;
  z-index: 2;
}
.carousel-wrapper.meal-swipe .available .img3 {
  margin-right: 5px;
  z-index: 1;
}

/* 1-1Meetup Map */
#map {
  height: 100%;
}
.map {
  display: block;
  position: relative;
  height: 460px;
}
.fixed-bottom {
  position: absolute;
  bottom: 25px;
  width: 329px;
}
.carousel-wrapper {
  display: -webkit-box;
  overflow: auto hidden;
}
.donor {
  width: 175px;
  height: 137px;
  border-radius: 5px;
  position: relative;
}
.donor:not(:last-child) {
  margin-right: 10px;
}
.donor > img {
  width: 100%;
  border-radius: 5px;
}
.donor-info {
  font-size: 12px;
  position: absolute;
  bottom: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 100%;
  background-color: #f4a7ec;
  display: flex;
  justify-content: space-between;
  padding: 8px;
}
.donor-info > div {
  display: flex;
}
.donor-info img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 5px;
}
.donor-contact {
  font-size: 9px;
  text-align: center;
  padding: 3px;
  background-color: #dddedf;
  border-radius: 4px;
}
.donor-time {
  font-size: 10px;
}

/* Pantries */
.pantries .post {
  padding: 10px;
  display: flex;
  border: none;
}

.pantries .post > img {
  height: 125px;
    width: 125px;
    border-radius: 4px;
    border: 1px solid black;
    margin-right: 14px;
}
.pantries .post .pantry-info {
  width: 160px;
}
.pantries .post .pantry-info div:first-child {
  margin-bottom: 5px;
}
.pantries .pantry-location {
  display: flex;
  align-items: center;
    justify-content: space-between;
}
.pantries .pantry-location #heart {
  padding: 0;
}
.pantries .pantry-time {
  font-size: 12px;
}
.pantries .pantry-time i {
  font-size: 14px;
  margin-right: 5px;
}
.pantries .pantry-time .pantry-arrival {
  font-size: 12px;
}
.pantries .items img {
  height: 40px;
  width: 40px;
  border-radius: 4px;
}
.pantries .inventory-btn {
  color: white;
  background-color: #FE9C04;
  border: none;
  border-radius: 4px;
  box-shadow: none;
  margin-top: 5px;
  padding: 2px;
}
.carousel-wrapper.pantries .post {
  height: 230px;
  width: 200px;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: white;
  position: relative;
}
.carousel-wrapper.pantries .post > img {
  width: 200px;
  border: none;
  margin-right: 0;
}
.carousel-wrapper.pantries .post .pantry-info {
  width: 100%;
  padding: 5px;
  position: absolute;
  background-color: white;
  bottom: 0;
}

.head .name {
  display: flex;
  flex-direction: column;
}
.head .name .location-block {
  display: flex;
  align-items: center;
  margin-left: 15px;
}
.head .name .location-block i {
  margin-right: 5px;
}
.head .name .location {
  font-size: 8px;
}
i.far.fa-bell {
  margin: 10px 20px;
  font-size: 28px;
}

/* See Inventory */
#inventory-screen {
  height: 667px;
  width: 375px;
  background-color: white;
  margin-top: 5%;
  border: 3px solid black;
  padding: 0;
}
.inventory {
  position: relative;
}
.main-img {
  position: relative;
}
.main-img img {
  width: 369px;
}
.main-img i {
  padding: 4px 6px;
    margin: 10px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    border-radius: 50%;
    color: orange;
}
.inventory .inventory-location {
  display: flex;
  align-items: center;
    justify-content: space-between;
}
.inventory .inventory-location #heart {
  padding: 0;
}
.inventory .inventory-time {
  font-size: 12px;
}
.inventory .inventory-time i {
  font-size: 14px;
  margin-right: 5px;
}
.inventory .inventory-btn {
  color: white;
  background-color: #FE9C04;
  border: none;
  border-radius: 4px;
  box-shadow: none;
  margin-top: 5px;
}
.inventory .inventory-section {
  padding: 15px 15px 0;
  border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: white;
    z-index: 2;
    position: absolute;
    top: 200px;
}
.inventory .inventory-section > div {
  margin-bottom: 15px;
}
.inventory .items {
  overflow-y: auto;
  height: 371px;
}
.inventory .items-row span {
  position: relative;
  display: inline-block;
}
.inventory .items-row span:first-child {
  margin: 0 15px 15px 0;
}
.inventory .items-row img {
  width: 160px;
  border-radius: 8px;
}
.inventory .claim-btn {
  margin: 10px 5px;
    color: orange;
    background-color: white;
    border: 1px solid orange;
    border-radius: 4px;
    box-shadow: none;
    position: absolute;
    top: 0;
    right: 0;
}
.inventory .claim-day-btn {
  font-size: 10px;
  color: white;
    background-color: orange;
    border-radius: 4px;
    border: none;
    box-shadow: none;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* Activity Feed */
.activity {
  margin: 20px auto;
}
h2 {
  font-weight: 400 !important;
  text-align: center;
  text-transform: uppercase;
}
.feed {
  font-size: 16px;
  height: 598px;
  overflow: hidden auto;
}
.feed > div:not(:first-child) {
  padding: 10px;
  border-radius: 5px;
  background-color: #ffce6e;
}
.feed > div:not(:last-child) {
  margin-bottom: 10px;
}
.feed > div:first-child {
  margin: 15px 0;
}
.feed > div img {
  width: 70px;
  height: 70px;
}
.feed > div:not(:first-child) img {
  margin-right: 10px;
}
.feed > div:first-child div {
  display: inline-block;
  border-radius: 50%;
  padding: 10px;
  border: 1px solid #333;
}

.bottom-sheet {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

.bottom-sheet i {
  font-size: 16px;
}

.bottom-sheet .plus {
  color: white;
  background-color: blue;
  border-radius: 50%;
}
